<!DOCTYPE html>
<html>
<head>
  <title>Taylor Eke - Web Developer</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js", "application" %>
</body>
</html>
